<div class="panel panel-primary">
  <div class="panel-heading"><%= exercise.name %></div>
  <div class="panel-body">
    <p>Set: <%= exercise.set %></p>
    <p>Reps: <%= exercise.reps %></p>
  </div>
</div>